* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}
.container {
  padding: 0 25px;
  width: 95%;
  max-width: 1800px;
  font-size: 18px;
  margin: auto;
}
.header {
  width: 100%;
  background: transparent;
  position: absolute;
}
.topInfo {
  width: 100%;
  max-width: 1800px;
  display: flex;
}
.headerMail {
  width: 50%;
  padding: 35px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mailWrapper {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding: 0 15px 0 15px;
  height: 40px;
}
.mailWrapper p {
  color: #484747;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 10px;
}
.mailWrapper p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 35px 0 0;
}
.headerLogo {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  transition: all 0.2s ease;
}
.headerLogo:hover,
.headerLogo:focus-visible {
  opacity: 0.7;
}
.logoWrap {
  display: flex;
  align-items: center;
}
.logoWrap:hover .computerLight,
.logoWrap:focus .computerLight {
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 0.5;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 0.5;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.callToActionBGWrap {
  background-image: -webkit-image-set(
    url("./images/mainPageBackground.png") 1x,
    url("./images/mainPageBackgroundRetina.png") 2x
  );
  background-image: image-set(
    url("./images/mainPageBackground.png") 1x,
    url("./images/mainPageBackgroundRetina.png") 2x
  );
  background-size: cover;
  background-position: 65%;
  display: flex;
  flex-direction: column;
}
.callToActionBGWrap.callToAction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}
.callToActionBGWrap.callToAction .mainTitle {
  margin: 0 0 20px;
  font-size: 35px;
  font-weight: 600;
  line-height: 46px;
  color: #618135;
}
.blackText {
  color: black;
}
.callToActionBGWrap.callToAction .mainTitle .firmNameInMainTitle {
  color: #618135;
  font-size: 46px;
}
.callToActionBGWrap.callToAction .slogan {
  width: 45%;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  color: #717070;
}
form button {
  height: 53px;
  display: flex;
  align-items: center;
  background-color: #f7f5ec;
  color: #618135;
  border: 2px solid #618135;
  margin: auto 16px;
  width: 160px;
  justify-content: center;
  padding: 12px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
}
form {
  margin-top: 30px;
}
form button:hover {
  background-color: #618135;
  color: #f7f5ec !important;
  transition: all 0.2s ease;
}
.newsletter-form input {
  width: 320px;
  height: 55px;
  border-radius: 50px;
  padding: 0 15px;
  font-size: 18px;
  border: none;
}
input:focus {
  border: 1px solid #618135;
}
.newsletter-form {
  display: flex;
  margin: 10px 0 0 0;
}
.donat {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}
.donat img {
  width: 150px;
  height: 150px;
  border-radius: 24px;
}
.donatInfo {
  padding-left: 7px;
  padding-top: 3px;
  margin: 0;
}
.donatInfo h4 {
  margin: 0 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}
.donatInfo h4 span {
  color: #618135;
}
.donatInfo p {
  padding-top: 5px;
  width: 55%;
  margin: 0 5px;
  font-size: 13px;
  color: #717070;
  line-height: 20px;
}
.donatInfo .donatButton {
  padding: 5px 40px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 50px;
  margin: 10px 0;
  background-color: #618135;
  color: #f7f5ec;
  border: 2px solid #618135;
  cursor: pointer;
  text-decoration: none;
}
.donatInfo .donatButton:hover {
  background-color: #f7f5ec;
  color: #618135;
  transition: all 0.2s ease;
}
.donatButtonContainer {
  width: 55%;
  margin: 15px 0;
}
footer {
  width: 100%;
  height: 50px;
  padding: 0 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 10px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
