/* Reset & Defaults */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "ProbaPro", sans-serif;
  background-image: image-set(
          url("./images/background.webp") 1x,
          url("./images/backgroundRetina.webp") 2x
  );
  background-size: cover;
  background-position: 65%;
  background-repeat: no-repeat;
}

/* Layout */
.container {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 25px;
  font-size: 18px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.logo:hover,
.logo:focus-visible {
  opacity: 0.7;
}

.email-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 18px 12px 48px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #484747;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.email-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 18px;
  width: 20px;
  height: 20px;
  background: url('./images/letter.svg') no-repeat center center;
  background-size: contain;
  transform: translateY(-50%);
}

.email-link:hover {
  opacity: 0.85;
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.hero-title {
  margin-top: calc(10vh - 20px);
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 600;
  color: #000;
  width: 55%;
  line-height: 1.2;
}

.highlight {
  color: #618135;;
}

.hero-subtitle {
  width: 47%;
  margin: 0 0 45px 0;
  font-size: 22px;
  color: #000;
  font-weight: 400;
}

.hero-description {
  font-size: 1.25rem;
  color: #000;
  margin-bottom: 20px;
}

/* Newsletter Form */
.newsletter {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 10px;
}

.newsletter input[type="email"] {
  width: 320px;
  height: 64px;
  padding: 0 25px;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid transparent;
  outline: none;
}

.newsletter input::placeholder {
  color: #a0a0a0;
  font-weight: 400;
}

.newsletter input:focus {
  border-color: #618135;
}

.newsletter button {
  width: 160px;
  height: 64px;
  padding: 12px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  border-radius: 50px;
  border: 2px solid #618135;
  background-color: #618135;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.newsletter button:hover {
  background-color: #fff;
  color: #618135;
}

/* Donate Block */
.donate {
  display: flex;
  width: 510px;
  gap: 16px;
  align-items: center;
}

.donate img {
  width: 147px;
  height: 140px;
  border-radius: 25px;
  object-fit: cover;
}

.donate-content {
  flex: 1;
}

.donate-content h4 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.donate-content h4 span {
  color: #618135;
}

.donate-content p {
  margin: 0 0 12px 0;
  font-size: 16px;
  color: #717070;
  line-height: 1.5;
}

.donate-btn {
  padding: 5px 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  background-color: #618135;
  color: #f7f5ec;
  border: 2px solid #618135;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.donate-btn:hover {
  background-color: #f7f5ec;
  color: #618135;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-bottom: 30px;
  font-size: 14px;
  color: #999;
}

.footer-note {
  margin: auto 0 0;
}